/* ================================================= */
/* A. ESTILOS BASE E O BODY COMO PAI DE REFERÊNCIA */
/* ================================================= */

body {
    margin: 0;
    padding: 0;
    background-color: #344c58;
    min-height: 100vh; 
    
    /* 🔑 O BODY AGORA É O PAI: Define a área de referência para os filhos absolutos */
    position: relative; 
    font-size: 20px;
}


.respostas {
    /* Z-INDEX 6: Fica na frente de TODOS */
    z-index: 6; 
    
    /* Posição absoluta em relação ao BODY */
    position: absolute; 
    top: 85%; 
    left: 50%;
    transform: translate(-50%, -50%); /* Centralização */
    
    /* Estilos Visuais */
    background-color: azure;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    /* Adicione um tamanho para visualização, senão pode sumir */
    width: 300px;
}

.btn_enviar{
    margin-left: 40%;
    margin-top: 7%;
    font-size: 20px;
    background-color: #cfd8dc;
    border-radius: 8px;
    padding: 10px;
}
.container {
    /* Z-INDEX 5: Fica na frente do quadrado */
    z-index: 5;
    
    /* Posição absoluta em relação ao BODY */
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centralização */
    
    /* Estilos Visuais */
    background-color: #546e7a;
    padding: 20px;
    border-radius: 10px;
    /* Adicione um tamanho para visualização */
    width: 300px;
    height: 400px;
}